/* ------------------------------------------------------
   DASHBOARD PAGE
---------------------------------------------------------*/

.dashboard-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.dashboard-container h2 {
    margin-bottom: 20px;
}

.dashboard-actions button {
    margin-right: 10px;
}
