/* ------------------------------------------------------
   NAVIGATION BAR
---------------------------------------------------------*/

#nav {
    width: 100%;
    background: #fff;
    padding: 15px 25px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}

.nav-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.nav-links a {
    margin-left: 25px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.nav-links a:hover {
    color: var(--primary);
}
